.routerListItem {
  list-style-type: none;
  text-transform: uppercase;

  .routerLinkItem {
    color: var(--main-blue);
    font-size: 1.2em;
    font-weight: 600;
    transition: font-size 0.2s ease;
    -webkit-transition: font-size 0.2s ease;
    -moz-transition: font-size 0.2s ease;
    -ms-transition: font-size 0.2s ease;
    -o-transition: font-size 0.2s ease;

    &:hover {
      font-size: 1.24em;
    }
  }
}

@media (max-width: 992px) {
  .routerListItem {
    list-style-type: none;
    text-transform: uppercase;

    .routerLinkItem {
      color: var(--main-blue);
      font-size: 1.1em;
      font-weight: 600;
      transition: font-size 0.2s ease;
      -webkit-transition: font-size 0.2s ease;
      -moz-transition: font-size 0.2s ease;
      -ms-transition: font-size 0.2s ease;
      -o-transition: font-size 0.2s ease;

      &:hover {
        font-size: 1.24em;
      }
    }
  }
}
