.itemContainer {
  backdrop-filter: blur(20px);
  border: 1px solid var(--secondary-gray);
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 5px;
  justify-content: space-between;
  cursor: pointer;
  transition: backdrop-filter 0.2s ease;

  &:hover {
    backdrop-filter: blur(5px);
  }

  div {
    display: flex;
    align-items: start;
    color: var(--secondary-gray);

    .itemTitle {
      font-size: 1.2em;
    }

    .itemCount {
      font-size: 3em;
      font-weight: 500;
    }
  }

  @media (max-width: 575px) {
    width: 167px;
    height: 167px;
    font-size: 0.85em;
  }
}
