.burger {
  width: 50px;
  height: 26px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  cursor: pointer;

  span {
    width: 100%;
    height: 4px;
    background-color: var(--main-blue);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
}

@media (max-width: 576px) {
  .burger {
    width: 50px;
    height: 26px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    cursor: pointer;

    span {
      width: 100%;
      height: 4px;
      background-color: var(--main-blue);
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
    }
  }
}
