:root {
  --main-blue: #5671a6;
  --secondary-blue: #cbd6ec;
  --main-gray: #616161;
}

:root.dark {
  --main-blue: #cbd6ec;
  --secondary-blue: #5671a6;
  --main-gray: #cec2c2;
}

html,
body {
  color: var(--main-gray);
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  transition: background 0.2s ease-in-out;
  -webkit-transition: background 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-in-out;
  -ms-transition: background 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out;
}

body {
  background: url('../../public/assets/bg_light.jpg') no-repeat center/cover;
}

html.dark body {
  background: url('../../public/assets/bg_dark.jpg') no-repeat center/cover;
}

html.dark .invertable-icon {
  filter: brightness(0) saturate(100%) invert(84%) sepia(2%) saturate(2482%)
    hue-rotate(188deg) brightness(107%) contrast(85%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  flex: 1;
  display: flex;
}

.content-container {
  flex: 1;
}
