:root {
  --main-blue: #5671a6;
  --secondary-blue: #cbd6ec;
  --main-gray: #616161;
  --secondary-gray: #383838;
  --lightgray: #616161;
  --background-image-light: url('../../public/assets/bg_light.jpg');
  --background-image-dark: url('../../public/assets/bg_dark.jpg');
}

:root.dark {
  --main-blue: #cbd6ec;
  --secondary-blue: #5671a6;
  --main-gray: #cec2c2;
  --secondary-gray: #eedddd;
  --lightgray: #e3d3d3;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(50px);
}

::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: var(--main-blue);
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-blue);
}

html,
body {
  font-size: 1.05em;
  color: var(--main-gray);
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  transition: background 0.2s ease-in-out;
}

body {
  background: var(--background-image-light) no-repeat center/cover;
}

html.dark body {
  background: var(--background-image-dark) no-repeat center/cover;
}

.invertable-icon {
  transition: filter 0.2s ease;
}

html.dark .invertable-icon {
  filter: brightness(0) saturate(100%) invert(84%) sepia(2%) saturate(2482%)
    hue-rotate(188deg) brightness(107%) contrast(85%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  flex: 1;
  display: flex;
  position: relative;
  width: 100vw;
}

.content-container {
  flex: 1;
  flex-shrink: 0;
  padding: 20px 50px;
  position: relative;
  transition: padding-left 0.1s ease;
}

@media (max-width: 992px) {
  .content-container {
    padding: 10px 25px 10px 225px;
  }
}

@media (max-width: 768px) {
  .content-container {
    padding-left: 25px;

    .socialsList {
      position: absolute;
    }
  }
}

@media (max-width: 576px) {
  main {
    .content-container {
      padding: 10px;
    }
  }
}

.forbidden-container {
  position: absolute;
  backdrop-filter: blur(30px);
  color: var(--secondary-gray);
  display: flex;
  gap: 20px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.forbidden-container h2 {
  font-size: 1.5em;
}

.forbidden-container p {
  font-size: 1.2em;
  text-align: center;
}

.forbidden-container a {
  padding: 5px 7px;
  border-radius: 5px;
  border: 1px solid var(--main-gray);
  font-size: 1.5em;
}

.forbidden-container span {
  transform: scale(5);
}

.swiper-pagination {
  display: flex;
  height: 30px;
  gap: 8px;
  justify-content: center;
}

.pagination-bullet {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--main-blue);
  transition: transform 0.35s ease-in-out;
  cursor: pointer;
}

.swiper-pagination-bullet-active {
  transform: scale(1.5);
  background: none;
  background-color: var(--secondary-blue);
}
